body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color: white;
}



h3 {
    font-family: var(--header-font);
    font-weight: 800;
    font-size: 36px;
    margin: 0 0;
}


.auth {

    &__container {
        width: 738px;
        height: 408px;
        border-radius: 33px;
        margin: 0 auto;
        margin-top: 163px;
        padding-top: 26px;
        padding-bottom: 44px;
        background-color: var(--light-bg-color);
        display: grid;
        place-items: center;
    }

    &__form {


        &__input {
            display: block;
            margin-bottom: 30px;
            border-radius: 16px;
            border: none;
            width: 549px;
            height: 69px;
            background: var(--lighter-grey);
            text-indent: 20px;
            font-size: 20px;
            color:azure;
        }

        &__button {
            border-radius: 16px;
            width: 549px;
            height: 69px;
            background-color: var(--mts-color);
        }
    }

}


input::placeholder {
    text-indent: 20px;
    font-size: 20px;
}

button {
    border: none;
    color: white;
    font-size: 20px;
}

.personal {

    &__container {
        width: 1323px;
        display: grid;
        grid-template-columns: 239px 1095px;
        column-gap: 30px;
        margin: 0 auto;
        margin-top: 55px;
    }




    &__main {
        box-sizing: border-box;
        border-radius: 33px;
        width: 1095px;
        height: 522px;
        background-color: var(--light-bg-color);
        display: grid;
        grid-template-columns: 250px 634px;
        column-gap: 55px;
        padding: 50px;



        &__info {
            margin-top: 34px;
            width: 634px;

            &__text {
                font-size: 20px;
                margin: 10px 0px;
            }

            &__passport {
                width: 461px;
                height: 95px;
                border-radius: 33px;
                background-color: var(--lighter-grey);
                font-size: 24px;
                display: grid;
                grid-template-columns: 159px 216px 63px;
                place-items: center;
                margin-top: 58px;

                button {
                    background-color: var(--lighter-grey);
                    cursor: pointer;

                    :before {
                        content:'Скопировано';
                        position: absolute;
                        top: -50px;
                        right: 0px;
                        background-color: var(--lighter-grey);
                        border-radius: 10px;
                        font-size: 15px;
                        display: none;
                    }

                    :after {
                        content: "";
                        position: absolute;
                        top: -20px;
                        right: 25px;
                        width: 10px;
                        height: 10px;
                        background-color: var(--lighter-grey);
                        transform: rotate(45deg);
                        display: none;
                    }

                    button.active {
                        display: block;
                    }
                }
            }
        }
    }
  
}

.navbar {

    &__ul {

        &__li {
            list-style: none;

            a {
                display: block;
                text-align: center;
                font-size: 16px;
                text-decoration: none;
                color: white;
                padding: 15px 10px;
                border-radius: 16px;
                background-color: var(--light-bg-color);
                margin-bottom: 20px;
            }
        }
    }
}

.table {
    &__container {
        box-sizing: border-box;
        border-radius: 33px;
        width: 1095px;
        height: 640px;
        margin: 0 auto;
        background-color: var(--light-bg-color);
        border-collapse: collapse;
        
        &--inner {
            width: 842px;
            margin: 0 auto;
        }

        h3 {
            text-align: center;
            margin-top: 27px;
            margin-bottom: 18px;
        }
    }

    &__button {
        font-size: 16px;
        border-radius: 13px;
        width: 183px;
        height: 40px;
        background-color: var(--lighter-grey);
        margin-bottom: 14px;
        
    }

    &__application {
        width: 842px;
        margin: 0 auto;


        &__head {

            &__first {
                width: 20%;
            }
            &__second {
                width: 20%;
            }
            &__third {
                width: 40%;
            }
            &__fourth {
                width: 20%;
            }
        }


        &__body {
            border-collapse: collapse;
            
            &__status {
                &--review {
                    background-color: var(--review-color);
                    border-radius: 10px;
                    width: 254px;
                    padding:3px 10px;
                }
                &--done {
                    background-color: var(--done-color);
                    border-radius: 10px;
                    width: 100px;
                    padding:3px 10px;
                }
                &--deny {
                    background-color: var(--deny-color);
                    border-radius: 10px;
                    width: 80px;
                    padding:3px 10px;
                }
                &--active {
                    background-color: var(--active-color);
                    border-radius: 10px;
                    width: 70px;
                    padding:3px 10px;
                }
            }


            &__button {
                border-radius: 10px;
                width: 109px;
                height: 31px;
                font-size: 16px;
                background-color: var(--lighter-grey);
            }
    
        }
    }
}

.copy {
    font-size: 15px;
    text-align: center;
    width: 120px;
    position: absolute;
    right: 280px;
    top: 440px;
}