.statement {

    &__container {
        width: 750px;
        height: 610px;
        margin: 0 auto;

        h3 {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }

    &__form {

        input, select, &__goals {
            border-radius: 16px;
            border: none;
            width: 355px;
            height: 69px;
            background-color: var(--lighter-grey);
            resize: none;
            text-indent: 20px;
            font-size: 20px;
            color: white;
            

           
        }

        &__goals {
            width: 350px;
            height: 137px;
            padding: 10px 4px;

        }

       select {
        appearance: none;
       }

       &__table {
            border-spacing: 10px;
        
       }

       &__select {
        border-radius: 16px;
        border: none;
        width: 355px;
        height: 69px;
        background: url("../public/plus.png") no-repeat 94% center var(--lighter-grey);
       
    

        select {
            border-radius: 16px;
            border: none;
            width: 355px;
            height: 69px;
            background: transparent;
        }
    
       }
       
       &__comment {
        width: 707px;
        height: 69px;
        margin-left: 13px;
        margin-top: 10px;
        font-size: 20px;
        background-color: var(--lighter-grey);
        border: none;
        border-radius: 16px;
        padding: 10px 10px;
        resize: none;
        text-indent: 20px;
        color: white;
       }

       button {
        width:355px;
        height: 69px;
        border-radius: 16px;
        display: inline-block;
        margin-left: 13px;
        margin-top: 10px;
        border: none;

       }

       &__yes {
        background-color: var(--mts-color);
        
       }

       &__no {
        background-color: var(--lighter-grey);
        border-radius: 16px;
       }

       &__no:active {
            background-color: var(--active-btn-color);
        }

    }
        
    
}

